{% extends 'base.html' %}

<!-- 
    The following block "block title" is optional if you want to create a unique title for each html page: 
-->
{% block title %}About Django Project{% endblock %}

{% block content %}
<h1>About Django Framework</h1>
<!-- 
        We are passing these python varaible with our render function:
        'language':'Python', 
        'module':module_name, 
        'module_id':11, 
        'is_easy':True, 
        'course_list':course_list, 
        'var_type':var_type 

        Learning Django Framework is our last module and it's index/sequence is 11.  
        It is a very advanced framwork to be used with Python. 
        Django is: 
        if (it is an easy module) => not difficult and interesting to learn 
        else => difficult and boring to learn ].

     -->
<p>
    {{ module }} is our last module and it's index/sequence is {{ module_id}}.
    It is a very advanced framwork to be used with {{ language }}.
    Django is
    {% if is_easy %}
    not difficult and interesting to learn
    {% else %}
    difficult and boring to learn
    {% endif %}
</p>

<p>{{course_list}}</p>
<!-- ['HTML and CSS', 'Bootstrap', 'JavaScript', 'Python', 'Flask Framework', 'Django Framework'] -->
<p>{{ var_type }}</p>

<!-- 
        in pure Python:
        for course in course_list:
            print course
    -->
<ul>
    {% for course in course_list %}
    <li>{{ course }}</li>
    {% endfor %}
</ul>
{% endblock %}