<!-- 
    The first line will be for loading the static template tag,
    if you forget to load:
    Error:
    Invalid block tag on line X: 'static'. Did you forget to register or load this tag?
    ===================================================================================

    NOTE: For more info, 
    please check: https://docs.djangoproject.com/en/3.1/howto/static-files/#configuring-static-files
-->
{% load static %}

<!-- Notice I copied the starter template from Bootstrap -->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- I want to apply my own styles from the file named "static/styels.css" -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- 
        Notice that we commented this fixed title element,
        because we want to generate a unique title for each page using block title
     -->
    <!-- <title>Django Framework!</title>-->

    <!-- 
        Below is the code template for the title element:
        Also noticed that we left a text in the title to be displayed by default 
        in case if one of the html page doesn't have the block title

        so the title "Django Framework!" will be displayed by default for any page that doesn't have block title
     -->

    <!-- 
        By default, we will have the following title "Django Framework!" 
        To be placed in every page if we don't specify
    -->
    <title>
        {% block title %}
        Django Framework!
        {% endblock %}
    </title>

</head>

<body>
    <!-- 
        <nav> element code is from Bootstrap
        Bootstrap => components => Navbar 
        Link: https://getbootstrap.com/docs/5.0/components/navbar/

        Color schemes
        Theming the navbar has never been easier thanks to the combination of theming classes and background-color
        utilities. Choose from .navbar-light for use with light background colors,
        or .navbar-dark for dark background colors. Then, customize with .bg-* utilities.
     -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- 
        instead of using <a href="#">
        we will use the URL tag:     { % url % }

        so in between href value we will place the URL TAG:
        href="{ % url .... % }"
        -->
            <a class="navbar-brand" href="#">Django</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <!-- 
                            In Flask: 
                            *********
                             - href={ { url_for('index') } }
                             - index is the function/view name

                            In Django: 
                            **********
                            - href={ % url 'function_name'% }                       
                         -->
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 
    Carousel:
    A slideshow component for cycling through elements—images or slides of text—like a carousel.
    https://getbootstrap.com/docs/5.0/components/carousel/#with-captions
    -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/carousel1.jpg' %}" class="d-block w-100" alt="Carousel Image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>

            <div class="carousel-item">
                <!-- 
            In Flask:
            *********
            href="{ { url_for('static',filename='vendor/fontawesome-free/css/all.min.css') } }"
            href="{ { url_for('static',filename='images/carousel1.jpg') } }"

            In Django:
            **********
            src="{ % static 'images/carousel1.jpg' % }"

            Things to do in Djagno (Example):
            {% load static %} 
            <img src="{% static 'my_app/example.jpg' %}" alt="My image">
             -->
                <img src="{% static 'images/carousel2.jpg' %}" class="d-block w-100" alt="Carousel Image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="{% static 'images/carousel3.jpg' %}" class="d-block w-100" alt="Carousel Image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="{% static 'images/carousel4.jpg' %}" class="d-block w-100" alt="Carousel Image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="{% static 'images/carousel5.jpg' %}" class="d-block w-100" alt="Carousel Image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

    <!--
    Bootstrap => Layout 
    Containers are the most basic layout element in Bootstrap and are required when using our default grid system.
    Containers are used to contain, pad, and (sometimes) center the content within them. 
    While containers can be nested, most layouts do not require a nested container.

    Bootstrap comes with three different containers, we will use the first basic general one:
    "container", which sets a max-width at each responsive breakpoint
    
    https://getbootstrap.com/docs/5.0/layout/containers/
    -->
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>


    <!-- 
    Bootstrap Classes:
    Alignment: Use text utilities as needed to change the alignment of your blockquote.
    Border: Use border utilities to add or remove an element’s borders. Choose from all borders or one at a time.
    Border color: Change the border color using utilities built on our theme colors
    Background color: Similar to the contextual text color classes, 
    easily set the background of an element to any contextual class. 
    Anchor components will darken on hover, just like the text classes. 
    Background utilities do not set color, so in some cases you’ll want to use .text-* utilities.
    -->
    <footer class="container-fluid text-center text-light border-top border-secondary bg-secondary">
        Copyright &COPY; Insructor: Anmar Jarjees - All Rights Reserved
    </footer>


    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- We can load our own script below after bootstrap  -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>